


header {
  
  float: left;
  
}

header::after {
  content: '';
  display: table;
  clear: both;
  
}




nav {
  position: absolute;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 0;
}

nav li {
  display: inline-block;
  margin-right: 2vw;
  margin-left: 2.5vw;
  padding-top: 0.5vw;
  padding-bottom: 2vw;
  position: relative;
  
}

nav a {
  color: #FFFFFF;
  text-decoration: none;

  text-transform: uppercase;
  font-size: 1vw;
  
}

nav a:hover {
  color: #FFFFFF;
  text-decoration:none !important;

}

nav a::before {
  content: '';
  display: block;
  height: 0.2vw;
  background: #FFFFFF;

  position: absolute;
  top: 2.4vw;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

